 @model CrypticCities.Models.CrypticCity

@{
    ViewBag.Title = "Random";
}

<div class="text-vertical-center">
    <h1>@Html.DisplayFor(model => model.Clue)</h1>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">@Html.DisplayFor(model => model.Hint)</a>
</div>